// File: boards/esp32_devkitc_procpu.overlay
// Alternative: Custom SPI-based display without specific driver

// Configure SPI pins first
&pinctrl {
    spim2_default: spim2_default {
        group1 {
            pinmux = <SPIM2_MISO_GPIO19>,
                     <SPIM2_MOSI_GPIO23>,
                     <SPIM2_SCLK_GPIO18>;
        };
    };
};

&spi2 {
    status = "okay";
    #address-cells = <1>;
    #size-cells = <0>;
    pinctrl-0 = <&spim2_default>;
    pinctrl-names = "default";

    // Generic SPI device that we'll control manually
    spi_display: spi_display@0 {
        compatible = "zephyr,spi-device";
        reg = <0>;
        spi-max-frequency = <25000000>;
        status = "okay";
    };
};

/ {
    // GPIO definitions for display control
    display_gpios {
        compatible = "gpio-keys";
        
        display_dc: display_dc {
            gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
            label = "Display DC";
        };
        
        display_reset: display_reset {
            gpios = <&gpio0 4 GPIO_ACTIVE_LOW>;
            label = "Display Reset";
        };
    };

    // Simple GPIO-based backlight control
    backlight {
        compatible = "gpio-leds";
        backlight_led: backlight_led {
            gpios = <&gpio0 16 GPIO_ACTIVE_HIGH>;
            label = "Display Backlight";
        };
    };
};