/ {
    chosen {
        zephyr,console = &uart0;
        zephyr,shell-uart = &uart0;
        zephyr,uart-mcumgr = &uart0;
    };

    aliases {
        uart0 = &uart0;
        user-data-partition = &storage_partition;
    };
};

// Change storage partition label to user_data_partition for LittleFS
user_data_partition: &storage_partition {
    label = "user_data_partition";
};
