// SPDX-License-Identifier: Apache-2.0

/dts-v1/;

/ {
    chosen {
        zephyr,display = &ili9341;
    };

    aliases {
        led0 = &status_led;
        led1 = &charge_led;
        sw0 = &key_up;
        sw1 = &key_right;
        sw2 = &key_down;
        sw3 = &key_left;
        sw4 = &key_a;
        sw5 = &key_b;
        sw6 = &key_x;
        sw7 = &key_y;
        sw8 = &key_settings;
    };

    mipi_dbi {
        compatible = "zephyr,mipi-dbi-spi";
        spi-dev = <&spi2>;
        dc-gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&gpio0 4 GPIO_ACTIVE_LOW>;
        #address-cells = <1>;
        #size-cells = <0>;

        ili9341: ili9341@0 {
            compatible = "ilitek,ili9341";
            reg = <0>;
            spi-max-frequency = <25000000>;
            width = <240>;
            height = <320>;
            rotation = <0>;
        };
    };
};

&spi2 {
    status = "okay";
    pinctrl-0 = <&spim2_default>;
    pinctrl-names = "default";

    cs-gpios = <&gpio0 5 GPIO_ACTIVE_LOW>,   /* Display CS */
               <&gpio0 17 GPIO_ACTIVE_LOW>,  /* Touch CS */
               <&gpio0 15 GPIO_ACTIVE_LOW>;  /* SD Card CS */
};

&uart0 {
    status = "okay";
    current-speed = <115200>;
    pinctrl-0 = <&uart0_default>;
    pinctrl-names = "default";
};

&wifi {
    status = "okay";
};
