name: Build

on:
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.8'
    
    - name: Install Zephyr dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y --no-install-recommends git cmake ninja-build gperf \
          ccache dfu-util device-tree-compiler wget \
          python3-dev python3-pip python3-setuptools python3-tk python3-wheel xz-utils file \
          make gcc gcc-multilib g++-multilib libsdl2-dev
    
    - name: Install West and Zephyr tools
      run: |
        pip3 install --user -U west
        echo "$HOME/.local/bin" >> $GITHUB_PATH
    
    - name: Initialize West workspace
      run: |
        west init -l .
        west update
        west blobs fetch hal_espressif
    
    - name: Install Zephyr SDK
      run: |
        cd ~
        wget https://github.com/zephyrproject-rtos/sdk-ng/releases/download/v0.16.4/zephyr-sdk-0.16.4_linux-x86_64.tar.xz
        tar xvf zephyr-sdk-0.16.4_linux-x86_64.tar.xz
        cd zephyr-sdk-0.16.4
        ./setup.sh -t all -h -c
    
    - name: Build MCUboot bootloader
      run: |
        unset ZEPHYR_WASM_MICRO_RUNTIME_KCONFIG
        west build --pristine -b esp32_devkitc/esp32/procpu \
          bootloader/mcuboot/boot/zephyr \
          -- -DMCUBOOT_LOG_LEVEL=4
    
    - name: Build AkiraOS application
      run: |
        unset ZEPHYR_BASE
        west build --pristine -b esp32_devkitc/esp32/procpu \
          . -d build \
          -- -DMODULE_EXT_ROOT=.