name: Build

on:
  pull_request:
    branches: [ main ]


jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        board:
          - esp32s3_devkitm/esp32s3/procpu
          - esp32_devkitc/esp32/procpu
    
    steps:
    - name: Checkout code to akira-os subdirectory
      uses: actions/checkout@v4
      with:
        path: akira-os
    
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
    
    - name: Install Zephyr dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y --no-install-recommends git cmake ninja-build gperf \
          ccache dfu-util device-tree-compiler wget \
          python3-dev python3-pip python3-setuptools python3-tk python3-wheel xz-utils file \
          make gcc gcc-multilib g++-multilib libsdl2-dev
    
    - name: Install Python dependencies
      run: |
        pip3 install --user -U west pyelftools intelhex cbor2 cryptography requests pyserial click

    - name: Install West and add to PATH
      run: |
        echo "$HOME/.local/bin" >> $GITHUB_PATH
    
    - name: Initialize West workspace
      run: |
        west init -l akira-os
        west update
        west blobs fetch hal_espressif
    
    - name: Install Zephyr SDK
      run: |
        cd ~
        wget -q https://github.com/zephyrproject-rtos/sdk-ng/releases/download/v0.16.8/zephyr-sdk-0.16.8_linux-x86_64_minimal.tar.xz
        tar xf zephyr-sdk-0.16.8_linux-x86_64_minimal.tar.xz
        cd zephyr-sdk-0.16.8
        ./setup.sh -t xtensa-espressif_esp32_zephyr-elf -t xtensa-espressif_esp32s3_zephyr-elf -h -c
    
    - name: Build MCUboot bootloader for ${{ matrix.board }}
      run: |
        west build --pristine -b ${{ matrix.board }} \
          bootloader/mcuboot/boot/zephyr \
          -d build-mcuboot \
          -- -DMCUBOOT_LOG_LEVEL=4
    
    - name: Build AkiraOS application for ${{ matrix.board }}
      run: |
        west build --pristine -b ${{ matrix.board }} \
          akira-os -d build \
          -- -DMODULE_EXT_ROOT=${{ github.workspace }}/akira-os
    
    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      if: success()
      with:
        name: akira-os-${{ replace(matrix.board, '/', '-') }}
        path: |
          build/zephyr/zephyr.bin
          build/zephyr/zephyr.elf
          build-mcuboot/zephyr/zephyr.bin