name: Akira CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    
    env:
      ZEPHYR_TOOLCHAIN_VARIANT: zephyr
      ZEPHYR_SDK_INSTALL_DIR: /opt/toolchains/zephyr-sdk-0.16.5

    steps:
      - name: Free Disk Space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/ghc
          sudo rm -rf /usr/local/share/boost
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
          sudo docker system prune -af
          df -h
      
      - name: Start container
        run: |
          docker pull ghcr.io/zephyrproject-rtos/ci:latest
          docker run -d --name zephyr-ci -v $PWD:/workspace -w /workspace --user root ghcr.io/zephyrproject-rtos/ci:latest tail -f /dev/null
      
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          path: akira-os
          submodules: recursive

      - name: Initialize west workspace
        run: |
          docker exec -w /workspace/akira-os zephyr-ci bash -c "west init -l . && west update"

      - name: Setup Zephyr SDK
        run: |
          docker exec -w /workspace/akira-os zephyr-ci bash -c '
            if [ ! -f "$ZEPHYR_SDK_INSTALL_DIR/sdk_version" ]; then
              echo "Zephyr SDK not found, installing...";
              wget -q https://github.com/zephyrproject-rtos/sdk-ng/releases/download/v0.16.5/zephyr-sdk-0.16.5_linux-x86_64.tar.xz;
              tar xf zephyr-sdk-0.16.5_linux-x86_64.tar.xz -C /opt/toolchains;
              cd /opt/toolchains/zephyr-sdk-0.16.5;
              ./setup.sh -t all -h -c;
            else
              echo "Zephyr SDK already installed";
            fi
          '

      - name: Zephyr env
        run: |
          docker exec -w /workspace/akira-os zephyr-ci west zephyr-export

      - name: Fetch ESP32 HAL blobs
        run: |
          docker exec -w /workspace/akira-os zephyr-ci west blobs fetch hal_espressif

      - name: Build ESP32-S3_devkitm
        run: |
          docker exec -w /workspace/akira-os zephyr-ci west build -b esp32s3_devkitm/esp32s3/procpu . --pristine

      - name: Build native_sim
        run: |
          docker exec -w /workspace/akira-os zephyr-ci west build -b native_sim . --pristine

      - name: Build b_u585i_iot02a
        run: |
          docker exec -w /workspace/akira-os zephyr-ci west build -b b_u585i_iot02a . --pristine
      
      - name: Cleanup container
        if: always()
        run: |
          docker stop zephyr-ci || true
          docker rm zephyr-ci || true